body{
    margin:auto;
}
a{
    text-decoration:none;
}
#header {
    height:50px;
    background-color:orange;
}

#icon{
    margin-left: 1%;
    margin-top: -1%;
    position: absolute;
    color:rgb(211, 57, 18);
}
#icon >h2 >i >b >a {
    text-decoration:none !important;
    color:rgb(211, 57, 18);
    margin-top:-7%;
    
}
#social{
    float:right;
    margin-right:1;
}
.slogo{
    height:40px;
    width:40px;
}
#mainContainer{
    width:85%;
    height:600px;
    margin-left: 7%;
    margin-top: 4%;
    margin-bottom: 2%;
}

.imageContainer{
    width:45%;
    height:400px;
    box-shadow: 0 4px 25px rgba(14,36,49,.15);
    border-radius: .5rem;
    float: left;
}

.imageContainer > img {
    width:100%;
    height:400px;
}
.imageContainer img{
    transition: 1s;
    cursor: pointer;
  }
.imageContainer img:hover{
    transform: scale(1.1);
}
.contentContainer{
    width:50%;
    height:600px;
    margin-left: 2%;
    float: left;
    margin-top: -2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.contentContainer >h1{
    color: blueviolet;
}
.contentContainer >h3{
    transition: 1s;
    cursor: pointer;
}
.contentContainer >h3:hover{
    transform: scale(1.1);
}

#head{
   
    background-color:aquamarine;
}
.checked{
    color:red
}

.imgIcon{
    height:100px;
    width:100px;
    margin-left:2%;
    margin-top:5%;
}
.feature_container{
    display: inline-block;
    width:100%
}
.feature{
    float: left;
    margin-left:5%
}
.feature >p{
    color:darkmagenta;
}

h2{
    font-size:35px;
    color:rgb(80, 19, 116);
    margin-left: 22%;
}

.btn{
    height:50px;
    width:200px;
    font-size:20px;
    color:white;
    background-color:rgb(231, 142, 24)
}

.btn-proceed{
    background-color:rgb(182, 214, 41);
    margin-left:2%
}