body{
    margin:auto;
}
a{
    text-decoration:none;
}
#header {
    height:50px;
    background-color:orange;
}

#icon{
    margin-left: 1%;
    margin-top: -1%;
    position: absolute;
    color:rgb(211, 57, 18);
}
#icon >h2 >i >b >a {
    text-decoration:none !important;
    color:rgb(211, 57, 18);
}
#social{
    float:right;
    margin-right:1;
}
.slogo{
    height:40px;
    width:40px;
}
.headingText{
    text-align:center;
    font-weight: bold;
    color: rgb(68, 36, 10);
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#listingContainer{
    height:600px;
    width:80%;
    margin-top:3%;
    margin-left: 12%;
    margin-bottom: 2%;


}
b{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.filter{
    width:20%;
    height:600px;
    float:left;
    box-shadow: 10px 20px 15px gray;
    
}
.filter >h3{
    height:10px;
    text-decoration:underline;
}
#mainLoc{
    width:100%;
    height:100px;
    
}
#location{
    margin-left: 17%;
    height:25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#cuisines{
    height:150px;
    margin-top:2px;
    line-height: 15px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#cost{
    height:150px;
    margin-top:2px;
    line-height: 15px;
}
.fa-rupee-sign{
    font-weight: lighter;
}


#Sort{
    height:100px;
    margin-top:2px;
    line-height: 15px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.content{
    width:74%;
    height:650px;
    margin-left:5%;
    margin-bottom:5%;
    display: inline-block;
}
.boxContainer1{
    height:200px;
    width:100%;
    float:left;
    box-shadow: 10px 20px 15px gray;
    margin-bottom:5%
}
.leftContainer1{
    height:200px;
    width:50%;
    float:left;
}
.imgContainer1{
    height:200px;
    width:80%;
}
.imgContainer1 >img{
    width:100%;
    height:200px;
    float:left;
    border-radius: 75px;
}
.imgContainer1 >img{
    transition: 1s;
    cursor: pointer;
}
.imageContainer1 img:hover{
    transform: scale(1.1);
}
.rightContainer1{
    height:200px;
    width:50%;
    float: left;
}
.bigContainer1 >h1{
    
    float:left;
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
    margin-left:3%;
    width:100%;
    margin-top:2%;
    color:blueviolet;
    margin-bottom:5%;
}
.bigContainer1 >h1 >a{
    color:blueviolet;
}
.bigContainer1 >h3{
    color:rgb(14, 110, 46);
    margin-left:25%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:bold;
}
.smallContainer1{
    color:brown;
    width:100%;
    margin-left: 5%;
}
.smallContainer1 >h3 >b{
  
    margin-right:3%;
}
@media screen and (max-width:1600px){
    body{
        background-color: skyblue;
    }
}

@media screen and (max-width:1400px){
    body{
        background-color: rgb(181, 183, 184);
    }
}



@media screen and (max-width:1200px){
    body{
        background-color: rgb(243, 225, 242);
    }
   
}

@media screen and (max-width:1000px){
    body{
        background-color: rgb(226, 146, 153);
    }
    .filter{
        width:100%;
        height:200px;
        float:left;
        box-shadow: 10px 20px 15px gray;
        
    }
    .filter >h3{
        height:10px;
        text-decoration:underline;
    }
    #mainLoc >h3{
        width:10%;
        height:100px;
        float:left;
        margin-top: 2%;
        margin-left: 2%;
        
    }
    #location{
        margin-top: 12%;
        height:25px;
        margin-left: -10%;
        width:25%
    }
    #cuisines{
        height:100px;
        margin-top: -13%;
        float:left;
        margin-left: 20%;
    }
    #cost{
        height:100px;
        margin-top:-13%;
        float:left;
        margin-left: 45%;
    }
    
    #Sort{
        height:100px;
        margin-top:-17%;
        float:left;
        margin-left: 80%;
    }
    .content{
        width:100%;
        margin-left:0%;
        margin-top:10%
    }
    .imgContainer1 >img{
        margin-top:1%
    }
    .bigContainer1 >h1{
        font-size:25px;
        margin-left:3%;
        width:100%;
    }
    
}

@media screen and (max-width:800px){
    body{
        background-color: rgb(245, 221, 202);
    }
    .filter{
        width:100%;
        height:200px;
        float:left;
        box-shadow: 10px 20px 15px gray;
        
    }
    .filter >h3{
        height:10px;
        text-decoration:underline;
    }
    #mainLoc >h3{
        width:10%;
        height:100px;
        float:left;
        margin-top: 2%;
        margin-left: 2%;
        
    }
    #location{
        margin-top: 15%;
        height:25px;
        margin-left: -10%;
        width:25%
    }
    #cuisines{
        height:100px;
        margin-top: -17%;
        float:left;
        margin-left: 20%;
    }
    #cost{
        height:100px;
        margin-top:-17%;
        float:left;
        margin-left: 45%;
    }
    
    #Sort{
        height:100px;
        margin-top:-22%;
        float:left;
        margin-left: 80%;
    }
    .content{
        width:100%;
        margin-left:0%;
        margin-top:10%
    }
    .imgContainer1 >img{
        margin-top:3%
    }
    .bigContainer1 >h1{
        font-size:25px;
        margin-left:-3%;
        width:100%;
    }
}

@media screen and (max-width:600px){
    body{
        background-color: rgb(240, 173, 195);
    }
    .filter{
        width:100%;
        height:200px;
        float:left;
        box-shadow: 10px 20px 15px gray;
        
    }
    .filter >h3{
        height:10px;
        text-decoration:underline;
    }
    #mainLoc >h3{
        width:10%;
        height:100px;
        float:left;
        margin-top: 2%;
        
    }
    #location{
        margin-top: 20%;
        height:25px;
        margin-left: -10%;
        width:25%
    }
    #cuisines{
        height:100px;
        margin-top: -23%;
        float:left;
        margin-left: 15%;
    }
    #cost{
        height:100px;
        margin-top:-23%;
        float:left;
        margin-left: 45%;
    }
    
    #Sort{
        height:100px;
        margin-top:-30%;
        float:left;
        margin-left: 85%;
    }
    .content{
        width:100%;
        margin-left:0%;
        margin-top:10%
    }
    .imgContainer1 >img{
        margin-top:3%
    }
    .bigContainer1 >h1{
        font-size:25px;
        margin-left:-3%;
        width:100%;
    }
    
}